.heading {
    font-size: 5rem;
    color: red;
    letter-spacing: 2px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}